<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello from Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}" ></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </head>
  <body>
    <div class="wrapper" style="margin: 0 auto">
      {% block content %}
      {% endblock %}
      <div class="center">
	<h5>Developed by <a href="https://github.com/rexos">Alex Pellegrini</a> & <a href="https://github.com/wrousseau">Woody Rousseau</a></h5>
      </div>
    </div>
  </body>
</html>
