{% extends "base.html" %}

{% block extrahead %}
<title>Tweet Weather Homepage</title>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Weather Tweet Stream</h1>
</div>
<div class="text-center">
	<img src="/static/banner.png">
</div>
<div class="well center">
  <h2>Chose your visualization method</h2>
  <a href="/list_data">
    <button class="btn btn-primary btn-large"><i class="icon-list icon-white"></i>&nbsp;List</button>
  </a>
  <a href="/plot">
    <button class="btn btn-primary btn-large"><i class="icon-eye-open icon-white"></i>&nbsp;Plot</button>
  </a>
  <a href="/map">
    <button class="btn btn-primary btn-large"><i class="icon-picture icon-white"></i>&nbsp;Map</button>
  </a>
</div>
{% endblock %}
