{% extends "base.html" %}

{% block extrahead %}
<title>Tweet Weather: List</title>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Data List</h1>
</div>
<div style="height:600px; overflow:auto; border:1px solid black">
  <table id="weather-table" class="table table-striped" style="height:100%">
    <tr id="header-line">
      <th>ID</th>
      <th>Sent.Value</th>
      <th>Weather</th>
      <th>Weather Infos</th>
    </tr>
    {% for val in data %}
    <tr>
      <td>
	{% print(val[0]) %}
      </td>
      <td>
	{% print(val[1]) %}
      </td>
      <td>
	{% print(val[2]) %}
      </td>
      <td>
	{% print(val[3]) %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<br>

<a href="/">
  <button class="btn btn-primary btn-large"><i class="icon-arrow-left icon-white"></i>&nbsp;Back</button>
</a>

<button class="btn btn-success btn-large" id="start">
  <i class="icon-play icon-white"></i>&nbsp;Start
</button>
<button class="btn btn-danger btn-large disabled" id="stop">
  <i class="icon-remove icon-white"></i>&nbsp;Stop
</button>
<script src="/static/js/post.js"></script>
<script src="/static/js/start-stop.js"></script>
{% endblock %}
